* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #000;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  column-gap: 10px;
}

button {
  padding: 8px 16px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #55555580;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

.red {
  background-color: #ff4646cc;
}

.green {
  background-color: #2ecc71cc;
}

.blue {
  background-color: #3498dbcc;
}
